/* * estilos generales   */
body{
    background-color: violet;
    display: flexbox;


}


.btn-primary{
    background-color: blueviolet;
    font-family: 'Franklin Gothic Medium';
    color: black;
    font-style: bold;
} 
h1{
    color: blueviolet;
}


.card{
    color: violet;
    align-items: center;
    font-family: 'Franklin Gothic Medium';
}


.card-text{
    color: black;
    align-items: center;
    font-family: 'Franklin Gothic Medium';
}